//colors
$digital-blue: #0200B9;
$corporate-blue: #0A2642;
$purple: #7139B1;
$light-grey: #F4F4F4;
$light-blue: #F3FAFF;
$meduim-blue: #DDECF6;
$success-green: #287D3C;
$warning-yellow: #FF8B00;
$error-red: #E31C3D;

// Breakpoints
$xxsmall: 320px;
$xsmall: 576px;
$small: 768px;
$meduim: 992px;
$large: 1200px;

// Typography
$base-font-family: 'Mulish', sans-serif;
$base-font-size: 16px;
$heading-font-family: "Lora", sans-serif;
$h1-font-size: 45px;
$h2-font-size: 34px;
$h3-font-size: 28px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$small-font-size: 12px;
$huge-font-size: 74px;

//base-vars
$base-spacing: 8px;
$para-base-spacing: 14px;
